[submodule "themes/light"]
	path = themes/light
	url = git@github.com:hexojs/hexo-theme-light.git
[submodule "themes/light-cn"]
	path = themes/light-cn
	url = git@github.com:ren-woohoo/hexo-theme-light.git
